.grid {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  max-width: 650px;
  min-width: 320px;
  box-sizing: border-box;
  margin: auto;
  background-color: #000;
  padding: 10px;
}

.box {
  width: 100%;
  background-color: #000;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
}

.header {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

.reset {
  position: absolute;
  right: 8px;
  top: 0;
  background-color: transparent;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 8px;
  font-size: 0.75em;
  line-height: 3em;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1em;
  }
  .reset {
    font-size: 0.75em;
    line-height: 2em;
  }
}

.reset:hover {
  color: #00f;
  cursor: pointer;
}
