.grid {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-gap: 10px;
  width: max-content;
  margin: auto;
  background-color: #000;
  padding: 10px;
}

.box {
  height: 50px;
  width: 50px;
}

.box {
  background-color: #000;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}
/* demo */
